:root {
	--docsearch-primary-color: var(--theme-accent-secondary);
	--docsearch-modal-background: var(--theme-bg);
	--docsearch-footer-background: var(--theme-bg-gradient-bottom);
	--docsearch-logo-color: var(--theme-text);
	--docsearch-text-color: var(--theme-text);
	--docsearch-hit-color: var(--theme-text);
	--docsearch-muted-color: var(--theme-text-lighter);
	--docsearch-hit-shadow: none;
}

/* This query matches the upstream media query for mobile devices */
@media (max-width: 750px) {
	/* Increase spacing to match our site layout */
	:root {
		--docsearch-spacing: 15px;
	}

	/* Fix search not being displayed correctly after scrolling down */
	.DocSearch-Container {
		position: fixed;
	}
}
